@import 'variable';

.card_course_item {
    margin-top: 16px;
}

.use_avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}
.w-120 {
    width: 160px;
    margin: 0 16px;
}